NEXT_PUBLIC_SUPABASE_URL=https://muejwgnmxqvcwuadubpz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_replace_me
NEXT_PUBLIC_SPONDON_ORGANISATION_ID=7a76260d-e30a-43b1-80f3-946de1838769
NEXT_PUBLIC_SPONDON_EVENT_ID=e4304553-442e-4e19-9387-621dc2db57d8
RESEND_API_KEY=re_replace_me
SPONDON_EMAIL_FROM=Spondon Sharod Somman <registration@your-verified-domain.example>
SPONDON_NOTIFICATION_EMAIL=spondon2020official@gmail.com
