NEXT_PUBLIC_SUPABASE_URL=https://muejwgnmxqvcwuadubpz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_replace_me
NEXT_PUBLIC_SPONDON_ORGANISATION_ID=7a76260d-e30a-43b1-80f3-946de1838769
NEXT_PUBLIC_SPONDON_EVENT_ID=e4304553-442e-4e19-9387-621dc2db57d8
SPONDON_APPS_SCRIPT_URL=https://script.google.com/macros/s/replace_with_deployment_id/exec
SPONDON_APPS_SCRIPT_SECRET=replace_with_random_secret
